body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #66077e;
    color: white;
    padding: 1em 0;
    text-align: center;
}

h3{
    padding-right: 80%;
}

main {
    padding: 1em;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 1em 0;
    padding: 1em;
    width: 80%;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.photo-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}